.edit-departament{
    border: none;

    padding: 2rem;

    font-family: var(--font-primary);
}
.edit__container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.header__edit{
    display: flex;
    justify-content: space-between;

    position: relative;
}

.edit__container .header__edit h1{
    font-size: var(--font-size-2);
    font-weight: var(--font-bold);
}
.edit__container .header__edit span{
    position: absolute;
    left: 320px;
    top: -15px;

    cursor: pointer;
}
.edit__container form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}